.container {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: space-between;
    padding: 20px;
  }
  
  .statusBar {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .title {
    text-align: center;
    margin: 20px 0;
  }
  
  .subtitle {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .formContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .inputField {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .forgotPassword {
    margin-bottom: 20px;
    cursor: pointer;
    width: 30%;
  }
  
  .signInButton {
    width: 80%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .googleButton {
    width: 80%;
    cursor: pointer;
  }
  
  .signUpContainer {
    text-align: center;
  }
  
  .signUpImage {
    cursor: pointer;
    width: 50%;
  }
  